/* BASE STYLES */

a { color: #226; }
a:visited { color: #704d2f; }
a:hover { color: #222; }

/* MAIN CONTAINERS */

body {
	color: #444;
}

.neatline-exhibit {
	background: url('../images/bg-texture.png') repeat scroll #2D1c11;
}

/* HEADER: MAIN, EXHIBIT, SECTION, AND PAGE TITLES */

#header {
	background: #2D1c11;
	background: -moz-linear-gradient(50% 75% 90deg, #452C1B, #2D1C11);
	background: -webkit-gradient(linear, left top, left bottom, from(#2D1C11), to(#452C1B));
	border-bottom: 6px solid #DFCAB5;
	-webkit-text-shadow: -1px -1px 0px #281c11;
	-moz-text-shadow:    -1px -1px 0px #281c11;
	-o-text-shadow:      -1px -1px 0px #281c11;
	text-shadow:         -1px -1px 0px #281c11;
}

#titles .main-head {
	color: #d8bca3;
}

.ie7 #titles .main-head a {
	color: #d8bca3;
}

#titles .exhibit-head, #titles .collection-head {
	color: #f2e8df;
}

.ie7 #titles .exhibit-head a, .ie7 #titles .collection-head a {
	color: #f2e8df;
}

#titles .exhibit-head a:hover, #titles .collection-head a:hover {
	color: #fefefe;
}

.ie7 #titles .section-head a,
.ie7 #titles .page-head a {
	color: #bf9068;
}

#titles .section-head, 
#titles .page-head {
	color: #c49974;
}

#titles .page-head a:hover, #titles .section-head a:hover {
	color: #ddbca3;
}

/* ITEM, COLLECTION LISTS */

.main-head h2 {
	color: #704d2f;
}

.list-item-title, .list-item-title a {
	color: #402c1b;
}

.list-item-title a:hover {
	color: #704d2f;
}

.list-item-tags a:hover {
	color: #402c1b;
}

.browse-page #footer, .view-page #footer {
    border-top: 3px solid #DFCAB5;
}

/* PAGINATION */

.neatline .pagination-wrap {
	border-bottom: 3px solid #DFCAB5;
}

#header .exhibit-top-nav a, #header .exhibit-top-nav a:visited {
	color: #c49974;
}

#header .exhibit-top-nav a:hover {
	color: #d8bca3;
}

/* MAIN NAV & DROP-DOWN SUBMENUS */

#main-nav {
	border-left: 1px solid #583d25;
}

#main-nav a {
	color: #f2e8df;
}

#main-nav a:hover {
	color: #f2e8df;
	background: #5d3c25;
}

#main-nav .nav-list-item {
	border-right: 1px solid #583d25;
}

.sub-nav {
	background: #281c11;
	border-top: 2px solid #281c11;
	border-bottom: 1px solid #402c1b;
}

.sub-nav a {
	color: #c49974;
}

.sub-nav a:hover {
	color: #d8bca3;
}

.sub-nav .all-item a {
	color: #d8bca3;
}

.sub-nav .all-item a:hover {
	color: #f2e8df;
}

/* NEATLINE LAYOUT: MAP, TIMELINE, UNDATED ITEM LIST */

#neatline-editor {
	background: url('../images/bg-texture.png') repeat scroll #2D1c11;
}

/* FOOTER */

#footer {
	background: url('../images/bg-texture.png') repeat scroll #2D1c11;
}

#footer-container {
	color: #f2e8df;
}

#footer-container h3 {
	color: #ddc5af;
	border-bottom: 1px solid #4c3520;
	-webkit-text-shadow: -1px -1px 0px #100b07;
	-moz-text-shadow:    -1px -1px 0px #100b07;
	-o-text-shadow:      -1px -1px 0px #100b07;
	text-shadow:         -1px -1px 0px #100b07;
}

#footer-container a {
	color: #c9a280;
}

#footer-container a:hover {
	color: #d8bca3;
}

#footer-container .contact-info {
	border-top: 1px solid #4c3520;
}
