/* 
    Document   : brown
    Created on : Nov 19, 2010, 9:07:24 AM
    Author     : wsg4w
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

